body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    position: relative;
  }
  
  #left-image, #right-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    flex-basis: 20%;
  }
  
  #left-image {
    background-image: url("./images/left-VK.png");
    flex-grow: 1;
  }
  
  #right-image {
    background-image: url("./images/right-CN.png");
    flex-grow: 1;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.3s ease-out;
  }
  
  .separator {
    position: fixed;
    top: 0;
    left: 49.5%;
    width: 15px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 10;
  }
  
  .buttons {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-out;
    z-index: 1;
  }
  
  .buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  .buttons a:hover {
    background-color: #f2f2f2;
  }
  
  #left-image:hover img {
    transform: translateY(-30px);
  }
  
  #left-image:hover .buttons {
    bottom: 10px;
    opacity: 1;
  }
  
  #right-image:hover img {
    transform: translateY(-30px);
  }
  
  #right-image:hover .buttons {
    bottom: 10px;
    opacity: 1;
  }
  